* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 98vh;
    padding: 16px;
    background-color: #f0f0f0;
  }

  .header {
    background-color: #007bff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
    padding: 32px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 32px;
    border-radius: 16px;
  }

  .container {
    display: flex;
    flex: 1;
    padding: 7px;
  }

  .main {
    flex: 1;
    background-color: #28a745;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
  }

  .main .item {
    width: calc(25% - 24px);
    background-color: #208b39;
    margin: 12px;
    padding: 32px;
    border-radius: 12px;
    color: #fff;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .sidebar {
    width: 240px;
    background-color: #ff6b6b;
    color: #fff;
    text-align: center;
    padding: 32px;
    border-radius: 16px;
    margin-left: 32px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .footer {
    background-color: #007bff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
    padding: 32px;
    font-size: 16px;
    margin-top: 32px;
    border-radius: 16px;
  }